# Python virtual environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Database
*.sqlite3
*.db

# Other
.cache/
